%orientation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
%size{
  width: 100%;
  height: 67vw;
}

%size-second{
  height: 17vw;
}

%title{
  font-weight: $bold;
  margin: 1vw;
}
%text{
  font-weight: $regular;
  font-size: 1.6vw;
  width: 50%;
  height: 100%;
  margin: 10px;
}